extends base

block header
	link(href="/css/edit-script.css", rel="stylesheet")

block title-area
	if script != null
		h3 #{script.SCRIPT_NAME}

block contents-area
	div
		if script != null
			textarea#textarea-script(rows="50") #{script.SCRIPT}
		else
			textarea#textarea-script(rows="50")
	hr
	div.oper-btns
		- isNewScript = script == null;
		if isNewScript == false
			button(type="button", class="btn btn-primary", onclick="controller.export();") export
		button(type="button", class="btn btn-info", onclick="controller.save();") save

block footer
	if script != null
		input#script-name(type="hidden", value="#{script.SCRIPT_NAME}")
	- isNewScript = script == null;
	input#is-new-script(type="hidden", value="#{isNewScript}")
	input#hidden-script-editor-theme(type="hidden", value="#{scriptEditorTheme}")
	script(src="/js/edit-script.js")