extends base

block header
	link(href="/css/new-db2file.css", rel="stylesheet")

block title-area
	h3 DB to FILE script

block contents-area
	div.card.center-xy#card-input-database
		div.card-head
			h4 input database
		hr
		div.card-body
			div
				label.key-label database vendor
				span.value-area
					label
						input(type="radio", name="dbVendor", value="oracle", onclick="controller.autoCompleteJdbcInfo(this);", checked=true)
						span oracle
					label
						input(type="radio", name="dbVendor", value="mysql", onclick="controller.autoCompleteJdbcInfo(this);")
						span mysql
					label
						input(type="radio", name="dbVendor", value="mssql", onclick="controller.autoCompleteJdbcInfo(this);")
						span mssql
					label
						input(type="radio", name="dbVendor", value="db2", onclick="controller.autoCompleteJdbcInfo(this);")
						span db2
					label
						input(type="radio", name="dbVendor", value="tibero", onclick="controller.autoCompleteJdbcInfo(this);")
						span tibero
					label
						input(type="radio", name="dbVendor", value="etc", onclick="controller.autoCompleteJdbcInfo(this);")
						span etc
			div
				label.key-label database address
				span.value-area
					input.input-text#text-database-ip(type="text", placeholder="ip", onkeyup="controller.autoCompleteJdbcInfo(this);")
					input.input-text#text-database-port(type="text", placeholder="port", onkeyup="controller.autoCompleteJdbcInfo(this);")
					button(type="button", class="btn btn-default btn-sm") connect test
			div
				label.key-label database(sid)
				span.value-area
					input.input-text#text-database-sid(type="text", onkeyup="controller.autoCompleteJdbcInfo(this);")
			div
				label.key-label jdbc driver
				span.value-area
					input.input-text#text-jdbc-driver(type="text")
			div
				label.key-label jdbc connection url
				span.value-area
					input.input-text#text-jdbc-conn-url(type="text")
			div
				label.key-label jdbc username
				span.value-area
					input.input-text#text-jdbc-username(type="text")
			div
				label.key-label jdbc-password
				span.value-area
					input.input-text#text-jdbc-password(type="password")
		hr
		div.card-foot
			button(type="button", class="btn btn-primary btn-sm pull-right", onclick="controller.openCard('card-input-database', 'card-set-table-for-query');") next
	//end of card of id: card-input-database

	div.card.center-xy#card-set-table-for-query
		div.card-head
			h4 select table
		hr
		div.card-body
			div#dropdown-table
		hr
		div.card-foot
			button(type="button", class="btn btn-primary btn-sm pull-left", onclick="controller.openPrevCard('card-input-database');") prev
			button(type="button", class="btn btn-primary btn-sm pull-right", onclick="controller.openCard('card-set-table-for-query', 'card-set-column-for-query');") next
	//end of card of id: card-set-table-for-query

	div.card.center-xy#card-set-column-for-query
		div.card-head
			h4 select column
		hr
		div.card-body
			div#div-columns
		hr
		div &nbsp;
			button(type="button", class="btn btn-default btn-sm", onclick="controller.selectAllColumns();") select all columns(*)
		div &nbsp;
			button(type="button", class="btn btn-default btn-sm", onclick="controller.querySampleData();") select sample data
		hr
		div.card-foot
			button(type="button", class="btn btn-primary btn-sm pull-left", onclick="controller.openPrevCard('card-set-table-for-query');") prev
			button(type="button", class="btn btn-primary btn-sm pull-right", onclick="controller.openCard('card-set-column-for-query', 'card-set-binding-type');") next
	//end of card of id: card-set-column-for-query

	div.card.center-xy#card-set-binding-type
		div.card-head
			h4 binding type
		hr
		div.card-body
			div
				label
					input(type="radio", name="condition", value="no-condition", checked=true, onclick="controller.setConditionType(this.value);")
					span no condition
			div
				label
					input(type="radio", name="condition", value="date-condition", onclick="controller.setConditionType(this.value);")
					span date condition
			div#columns-for-date-condition(style="display: none;")
			div
				label
					input(type="radio", name="condition", value="sequence-condition", onclick="controller.setConditionType(this.value);")
					span sequence condition
			div#columns-for-sequence-condition(style="display: none;")
		hr
		div.card-foot
			button(type="button", class="btn btn-primary btn-sm pull-left", onclick="controller.openPrevCard('card-set-column-for-query');") prev
			button(type="button", class="btn btn-primary btn-sm pull-right", onclick="controller.openCard('card-set-binding-type', 'card-etc-parameter');") next
	//end of card of id: card-set-binding-type

	div.card.center-xy#card-etc-parameter
		div.card-head
			h4 etc parameter
		hr
		div.card-body
			div.input-group.input-group-sm
				span.input-group-addon period
				input.form-control#text-period(type="text", value="60 * 1000")
			div.input-group.input-group-sm
				span.input-group-addon delimiter
				input.form-control#text-delimiter(type="text", value="|")
			div.input-group.input-group-sm
				span.input-group-addon output path
				input.form-control#text-output-path(type="text", value="")
			div.input-group.input-group-sm
				span.input-group-addon charset
				input.form-control#text-charset(type="text", value="UTF-8")
		hr
		div.card-foot
			button(type="button", class="btn btn-primary btn-sm pull-left", onclick="controller.openPrevCard('card-set-binding-type');") prev
			button(type="button", class="btn btn-primary btn-sm pull-right", onclick="controller.openCard('card-etc-parameter', 'card-script');") next
	//end of card of id: card-etc-parameter

	div.card.center-xy#card-script
		div.card-head
			h4 script
		hr
		div.card-body
			textarea#textarea-script(row="30")
		hr
		div.card-foot
			button(type="button", class="btn btn-primary form-control", onclick="controller.saveScript();") save
	//end of card of id: card-script

block footer
	input#hidden-script-editor-theme(type="hidden", value="#{scriptEditorTheme}")
	script#column-check-box(type="text/x-jade").
		each column in columns
			div
				label
					input(type="checkbox", name="select-column" value="\#{column.columnName}")
					span \#{column.columnName} (\#{column.columnType})
	script#column-radio-box(type="text/x-jade").
		each column in columns
			div
				label
					input(type="radio", name="condition-column", value="\#{column.columnName}")
					span \#{column.columnName} (\#{column.columnType})
	script(src="/js/new-db2file.js")