extends base

block header
	link(href="/css/view-script.css", rel="stylesheet")

block title-area
	h3 #{script.SCRIPT_NAME}

block contents-area
	div.script-operation
		if script.IS_RUNNING == true
			button(type="button", class="btn btn-success btn-sm", disabled=true) start
			button(type="button", class="btn btn-warn btn-sm") stop
		else
			button(type="button", class="btn btn-success btn-sm") start
			button(type="button", class="btn btn-warn btn-sm", disabled=true) stop
		button(type="button", class="btn btn-info btn-sm", disabled=true, onclick="editScript();") edit script
	hr
	div.row
		div.col-md-6
			div.well
				TODO IMME





	div.row
		div.col-md-6
			div.well.script-operation
				div.row
					if script.IS_RUNNING == true
						div.col-md-6: button(type="button", class="btn btn-success btn-lg script-btn", disabled=true) start
						div.col-md-6: button(type="button", class="btn btn-warn btn-lg script-btn") stop
					else
						div.col-md-6: button(type="button", class="btn btn-success btn-lg script-btn") start
						div.col-md-6: button(type="button", class="btn btn-warn btn-lg script-btn", disabled=true) stop
				hr
				div.row
					div.col-md-12: button(type="button", class="btn btn-info btn-lg script-btn", onclick="editScript();") edit script
		div.col-md-6
			div.well.script-info
				div.input-group
					span.input-group-addon regdate
					input.input-text(type="text", readonly="true", value="#{script.REGDATE}")
	hr
	div.row
		div.col-md-12
			h4 blabla

block footer
	input#script-name(type="hidden", value="#{script.SCRIPT_NAME}")
	script.
		function editScript(){
			var scriptName = $('input#script-name[type="hidden"]').val();
			window.location.href = '/Script/Edit/' + scriptName + '/';
		} //editScript
	script(src="/js/view-script.js")