extends base

block header
	link(href="/css/view-script.css", rel="stylesheet")

block title-area
	h3 #{script.SCRIPT_NAME}

block contents-area
	div.row
		div.col-lg-3.col-md-3.col-sm-12
			div.panel.panel-default.infomation-panel
				div.panel-heading
					span.glyphicon.glyphicon-th
					span infomation
				div.panel-body
					ul.list-group
						li.list-group-item
							span.pull-left status
							if script.IS_RUNNING == true
								span.pull-right.label.label-primary ON
							else
								span.pull-right.label.label-danger OFF
							div.clearfix
						li.list-group-item
							span.pull-left regdate
							span.pull-right #{script.PRETTY_REGDATE}
							div.clearfix
		div.col-lg-7.col-md-7.col-sm-12
			div.panel.panel-default.operation-history-panel
				div.panel-heading
					span.glyphicon.glyphicon-time
					span operation history
				div.panel-body
					ul.list-group
						if(operationHistories.size() == 0)
							span.center-xy no data
						else
							each operationHistory in operationHistories
								if operationHistory.IS_STARTUP == true
									li.list-group-item.startup-history
										span.glyphicon.glyphicon-upload.pull-left
										span.pull-left #{operationHistory.REGDATE}
										span.pull-right #{operationHistory.PRETTY_REGDATE}
										div.clearfix
								else
									li.list-group-item.shutdown-history
										span.glyphicon.glyphicon-download.pull-left
										span.pull-left #{operationHistory.REGDATE}
										span.pull-right #{operationHistory.PRETTY_REGDATE}
										div.clearfix
		div.col-lg-2.col-md-2.col-sm-12
			div.panel.panel-default.command-panel
				div.panel-heading
					span.glyphicon.glyphicon-th
					span command
				div.panel-body
					if script.IS_RUNNING == true
						div: button.btn.btn-success.btn-sm(type="button", disabled=true) start
						div: button.btn.btn-warning.btn-sm(type="button", onclick="controller.stopScript();") stop
					else
						div: button.btn.btn-success.btn-sm(type="button", onclick="controller.startScript();") start
						div: button.btn.btn-warning.btn-sm(type="button", disabled=true) stop
					hr
					div: button.btn.btn-info.btn-sm(type="button", onclick="editScript();") edit script
					div: button.btn.btn-info.btn-sm(type="button", onclick="controller.rename();") rename
					div: button.btn.btn-danger.btn-sm(type="button", onclick="controller.remove();") remove
					hr
					div: button.btn.btn-success.btn-sm(type="button", onclick="controller.viewLog();") view log
	div.row
		div.col-lg-12
			div.panel.panel-default.log-monitoring-panel
				div.panel-heading
					span.glyphicon.glyphicon-time
					span operation log monitoring ...
				div.panel-body
					ul.list-group
						//TODO IMME

block footer
	input#script-name(type="hidden", value="#{script.SCRIPT_NAME}")
	script.
		function editScript(){
			var scriptName = $('input#script-name[type="hidden"]').val();
			window.location.href = '/Script/Edit/' + scriptName + '/';
		} //editScript
	script(src="/js/view-script.js")