extends base

block header
	link(href="/css/view-script.css", rel="stylesheet")

block title-area
	h3 #{script.SCRIPT_NAME}

block contents-area
	div.script-operation
		if script.IS_RUNNING == true
			button(type="button", class="btn btn-success btn-sm", disabled=true) start
			button(type="button", class="btn btn-warn btn-sm") stop
		else
			button(type="button", class="btn btn-success btn-sm") start
			button(type="button", class="btn btn-warn btn-sm", disabled=true) stop
		button(type="button", class="btn btn-info btn-sm", onclick="editScript();") edit script
		button(type="button", class="btn btn-info btn-sm") rename
		button(type="button", class="btn btn-danger btn-sm") remove
	hr
	div.row
		div.col-md-6
			div.well
				h4 info
				hr
				ul
					li regdate: #{script.REGDATE}
					- isRunning = script.IS_RUNNING == true ? "running" : "not running";
					li status: #{isRunning}
					if operationHistories.length == null
						li no operation history
					else
						li operation history
						ul
							each operationHistory in operationHistories
								- status = operationHistory.IS_START == true ? "started" : "stopped";
								li #{operationHistory.REGDATE} #{status}
	hr

block footer
	input#script-name(type="hidden", value="#{script.SCRIPT_NAME}")
	script.
		function editScript(){
			var scriptName = $('input#script-name[type="hidden"]').val();
			window.location.href = '/Script/Edit/' + scriptName + '/';
		} //editScript
	script(src="/js/view-script.js")